html {
	box-sizing: border-box;
}

*,
* : before,
* : after {
	box-sizing: inherit;
}

.container {
	max-width: 1200px;
	margin: auto;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/brick_and_plaster_texture.png");
	background-size: 100%;
	font-family: 'Italiana', serif;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

nav {
	margin: 0 auto;
	padding: 0;
}

nav ul {
	margin: 0;
	padding: 0.5em 0.5em;
	list-style: none;
	line-height: normal;
}

nav ul li {
	background-image: url("../img/dirty_wood_texture.jpg");
	padding: 0.75em 0.4em;
	margin: 0.25em;
}

nav ul li a {
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}

li:hover {
	box-shadow: 0.15em 0.15em #fdc468;
}

@media all and (min-width: 600px) {
	nav li {
		display: inline-block;
		width: calc(100% / 3 - 1.5em);
	}
}

main {
	margin: 0.25em;
}

.content {
	background-color: #c8bda9;
	opacity: 0.65;
	padding: 0.25em;
	margin: 0.5em;
}

h1 {
	font-family: 'IM Fell English';
}

@media (min-width: 900px) {
	.content {
		float: left;
		margin-left: 0.5em;
		width: calc(100% / 3 * 2);
	}
	#side {
		float: right;
		width: calc(100% / 3 - 3em);
	}
}

footer {
	font-family: 'IM Fell English';
	background-image: url("../img/dirty_wood_texture.jpg");
	padding: 0.5em;
	clear: both;
	color: #ffffff;
}
