html {
	box-sizing: border-box;
}

*,
* : before,
* : after {
	box-sizing: inherit;
}

.container {
	max-width: 1200px;
	margin: auto;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/brick_and_plaster_texture.png");
	background-size: 100%;
	font-family: 'Italiana', serif;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
